.edit{
  width: 20px;
}
mat-table{
  margin : auto 5%;
  padding: 2%;
  justify-content: center;
}

mat-select{
  margin-top: 5%;
}

mat-cell{
  justify-content: center;
  font-size: large;
}

mat-header-cell{
  font-size: larger;
  justify-content: center;
}

.mat-column-ReSubscribe{
  flex: 0 0 10%;
}
