
<mat-table [dataSource]="listUser" class="mat-elevation-z8">

  <!-- LastName Column -->
  <ng-container matColumnDef="LastName">
    <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
  </ng-container>

  <!-- FirstName Column -->
  <ng-container matColumnDef="FirstName">
    <mat-header-cell *matHeaderCellDef> Prenom </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
  </ng-container>

  <!-- Abonnement Column -->
  <ng-container matColumnDef="Abonnement">
    <mat-header-cell *matHeaderCellDef> Abonnement </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.abonnement}} </mat-cell>
  </ng-container>

  <!-- Abonnement Type Column -->
  <ng-container matColumnDef="AboType">
    <mat-header-cell *matHeaderCellDef> Type Abonnement</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.AboType}} </mat-cell>
  </ng-container>

  <!-- ReSubscribe Column-->
  <ng-container matColumnDef="ReSubscribe">

    <mat-header-cell *matHeaderCellDef></mat-header-cell>

    <mat-cell *matCellDef="let element">
      <button mat-flat-button  color="primary" matTooltip="Renew">
        <mat-icon [ngStyle]="{'color':'white'}" (click)="reSubcribe(element.id)">replay</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>

</mat-table>
