<form (ngSubmit)="EditProfile(editForm)" #editForm="ngForm">
  <mat-select *ngIf="error"> {{error}}</mat-select>
  <mat-form-field>
    <input matInput placeholder="Email" type="text" [(ngModel)]="data.Email"  name="Email" >
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Nom" type="text" [(ngModel)]="data.lastName" name="lastName" >
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Prenom" type="text" [(ngModel)]="data.firstName"  name="firstName" >
  </mat-form-field>

  <mat-form-field>
      <input matInput ngModel #passwordInput="ngModel" placeholder="Mot de passe" type="password" password name="password" >
  </mat-form-field>

  <ng-container>
    <ul *ngFor="let session of listTypeSession" >
      <mat-checkbox (change)="EditTypeSession(session)" [checked] = "checkSession(session) != null">
        {{session.Day}} {{session.Time}}
      </mat-checkbox>
    </ul>
  </ng-container>

  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button type="submit">Ok</button>

</form>

