<mat-grid-list cols="2" rowHeight="100%">

  <mat-grid-tile colspan="1">

    <mat-card *ngIf="isLoading" style="margin: auto">
      <mat-spinner style="margin: auto"></mat-spinner>
    </mat-card>

    <mat-table *ngIf="!isLoading" [dataSource]="User.Session" class="mat-elevation-z8">

      <!-- Date Column -->
      <ng-container matColumnDef="Date" >
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{switchDate(element.Date)}} </mat-cell>
      </ng-container >

      <!-- Time Column -->
      <ng-container matColumnDef="Time" >
        <mat-header-cell *matHeaderCellDef> Heure </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Time}} </mat-cell>
      </ng-container>

      <!-- Bike Column -->
      <ng-container matColumnDef="Bike" >
        <mat-header-cell *matHeaderCellDef> Velo libre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Bike}} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="Status" >
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon *ngIf="!element.Cancel; else cancel" [ngStyle]="{'color':'green'}">check</mat-icon>
          <ng-template #cancel>
            <mat-icon [ngStyle]="{'color':'red'}">cancel</mat-icon>
          </ng-template>
        </mat-cell>
      </ng-container>

      <!-- Button Column-->
      <ng-container matColumnDef="Action" >

        <mat-header-cell *matHeaderCellDef></mat-header-cell>

        <mat-cell *matCellDef="let element">
          <div *ngIf="checkIfDisable(element) ;then cancelBtn else Btn">
          </div>

          <ng-template #cancelBtn>
            <button mat-flat-button  color="primary" matTooltip="Inscription" disabled>
              <mat-icon [ngStyle]="{'color':'white'}" (click)="unSubscribe(element.Id)">clear</mat-icon>
            </button>
          </ng-template>

          <ng-template #Btn>
            <button mat-flat-button  color="primary" matTooltip="Inscription">
              <mat-icon [ngStyle]="{'color':'white'}" (click)="unSubscribe(element.Id)">clear</mat-icon>
            </button>
          </ng-template>
        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>

    </mat-table>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card >
      <mat-list-item>
        <mat-card-title>
          <mat-icon>person</mat-icon>
          <span> {{User.lastName}} {{User.firstName}}</span>
          <button mat-flat-button color="primary" matTooltip="Liste Participant" style="float : right">
            <mat-icon (click)="openDialog()">edit</mat-icon>
          </button>
        </mat-card-title>
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-card-content>
        <mat-list-item>
          <h3>Email</h3>
          <p>{{User.Email}}</p>
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <h3>Abonnement</h3>
          <p>{{User.abonnement}}</p>
          <mat-divider></mat-divider>
        </mat-list-item>

        <mat-list-item>
          <h3>Jour</h3>
            <p *ngFor="let sess of User.typeSessions">{{sess.Day}} {{sess.Time}}</p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

</mat-grid-list>




