mat-card{
  width: 40%;
}

mat-table{
  width: 80%;
  padding: 2%;
}

mat-select{
  margin-top: 5%;
  width: 100%
}

mat-cell{
  justify-content: center;
  font-size: large;
}

mat-header-cell{
  font-size: larger;
  justify-content: center;
}

mat-form-field{
  width: 110px;
}
.mat-column-Date {
  flex: 0 0 200px;
}

h3{
  font-size: larger;
}

p{
  font-size: large;

}
