mat-table{
  margin: 3% 2% ;
  padding: 2%;
}

.select{
  margin-left: 10%;
}

mat-select{
  margin-top: 5%;
  justify-content: center;
  font-size: larger;
}

mat-cell{
  font-size: large;
  justify-content: center;
}

mat-header-cell{
  font-size: larger;
  justify-content: center;
}

mat-form-field{
  width: 115px;
  text-align: center;
}

.mat-column-Date {
  flex: 0 0 10%;
}
.action-btn{
  background-color: #006186;
}
