
<mat-table [dataSource]="listSession" class="mat-elevation-z8">

  <!-- Date Column -->
  <ng-container matColumnDef="Date">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Date}} </mat-cell>
  </ng-container>

  <!-- Time Column -->
  <ng-container matColumnDef="Time">
    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Time}} </mat-cell>
  </ng-container>

  <!-- Bike Column -->
  <ng-container matColumnDef="Bike">
    <mat-header-cell *matHeaderCellDef> Velo libre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.Bike}} </mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="Status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon *ngIf="!element.Cancel; else cancel" [ngStyle]="{'color':'green'}">check</mat-icon>
      <ng-template #cancel>
        <mat-icon [ngStyle]="{'color':'red'}">cancel</mat-icon>
      </ng-template>
    </mat-cell>
  </ng-container>

  <!-- Button Column-->
  <ng-container matColumnDef="Info">
    <mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <mat-select placeholder="Select Month" #matSelect [(ngModel)]="value">
          <mat-option *ngFor="let month of months" [value]="month.num" >
            {{month.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-header-cell>
    <mat-cell *matCellDef="let element;let i = index" >
        <button mat-flat-button  color="primary" matTooltip="Information">
          <mat-icon (click)="openDialog(i)" [ngStyle]="{'color':'white'}">info</mat-icon>
        </button>
    </mat-cell>

  </ng-container>

  <!-- Button 2 Column-->
  <ng-container matColumnDef="Action">

    <mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <mat-select placeholder="Select Year" #matSelect2 [(ngModel)]="year">
          <mat-option *ngFor="let y of listYear" [value]="y" >
            {{y}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-header-cell>

    <mat-cell *matCellDef="let element" >
      <div *ngIf="!element.Cancel; else cancelBtn">
        <button mat-flat-button  color="primary" matTooltip="Inscription">
          <mat-icon [ngStyle]="{'color':'white'}" (click)="subcribe(element.Id)"
          *ngIf="!listIdSession.includes(element.Id); else unsub">check</mat-icon>
        </button>
      </div>

      <ng-template #cancelBtn>
        <button mat-flat-button  color="primary" matTooltip="Inscription" disabled>
          <mat-icon [ngStyle]="{'color':'white'}">check</mat-icon>
        </button>
      </ng-template>

      <ng-template #unsub>
        <button mat-flat-button color="primary" matTooltip="Desinscription">
          <mat-icon [ngStyle]="{'color':'red'}" (click)="unSubcribe(element.Id)">cancel</mat-icon>
        </button>
      </ng-template>


    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>

</mat-table>




