<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <nav>
    <mat-toolbar class="Navbar" style="padding: 0" color="primary">
      <div>
        <a mat-button routerLink=".">
          <mat-icon> home </mat-icon>
          <span> Home</span>
        </a>
        <a mat-button routerLink="/month">
          <mat-icon> date_range </mat-icon>
          <span> Month</span>
        </a>

        <a mat-button routerLink="/login" *ngIf="!isAuth; else profile">
          <mat-icon> person </mat-icon>
          <span> Login </span>
        </a>

        <ng-template #profile>
          <a mat-button [matMenuTriggerFor]="menu" *ngIf="isAuth">
            <mat-icon> person </mat-icon>
            <span> {{user.lastName}} </span>
          </a>

          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/profile">Profile</a>
            <a mat-menu-item (click)="logout()">Deconexion</a>
          </mat-menu>

          <button mat-button [matMenuTriggerFor]="admin" *ngIf="user.Role[0] === 'ROLE_ADMIN'">Admin</button>
          <mat-menu #admin="matMenu">
            <button mat-menu-item routerLink="admin/Session">Sessions</button>
            <button mat-menu-item routerLink="admin/Session/Create">Nouvelle Sessions</button>
            <button mat-menu-item routerLink="admin/Abonnement">Abonnement</button>
          </mat-menu>

        </ng-template>


      </div>
    </mat-toolbar>
  </nav>

  <body>
    <router-outlet></router-outlet>
  </body>

</html>

