<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <nav>
    <mat-toolbar class="Navbar" style="padding: 0" color="primary">
      <div>
        <a mat-button routerLink=".">
          <mat-icon> home </mat-icon>
          <span> Home</span>
        </a>
        <a mat-button routerLink="/month">
          <mat-icon> date_range </mat-icon>
          <span> Month</span>
        </a>
        <a mat-button routerLink="/login">
          <mat-icon> person </mat-icon>
          <span> Login</span>
        </a>

        <button mat-button [matMenuTriggerFor]="menu">Admin</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="admin/Session">Sessions</button>
          <button mat-menu-item routerLink="admin/Session/Create">Nouvelle Sessions</button>
          <button mat-menu-item routerLink="admin/Abonnement">Abonnement</button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </nav>

  <body>
    <router-outlet></router-outlet>
  </body>

</html>

