<div class="center">
  <mat-card>
    <mat-card-title>
      {{date}}
    </mat-card-title>
  </mat-card>

  <mat-list *ngFor="let hour of time">

    <mat-list-item></mat-list-item>
    <mat-list-item>
      <mat-card-subtitle>
        {{hour}}
      </mat-card-subtitle>
    </mat-list-item>

    <mat-list *ngFor="let user of listUser[0]">
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        {{user.lastName}} {{user.firstName}}
      </mat-list-item>
      <mat-divider ></mat-divider>

    </mat-list>
  </mat-list>
</div>

