/*---------------------------------------------------------------------------*/
/* GENERAL */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover{
  text-underline: none;
}
.Navbar{
  background-color: #333;
  overflow: hidden;
}
.Navbar div{
  margin: 0px 20px 0px 20px;
}
.Navbar a{
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: lighter;
}
.right{
  float: right;
}
.left{
  float: left;
}
.Center{
  margin-left: auto;
  margin-right: auto;
}

/*---------------------------------------------------------------------------*/
/* HOME PAGE */
.Position{
  float:left;
  margin-left:15%;
  margin-top:5%;
}
.Session{
  border: 1px solid black;
  margin: 20px 30px 10px;
  font-size: 20px;
}
.Session .top{
  border-bottom: 1px solid black;
}
.Session ul{
  padding: 0.6em;
}
.Session ~ ul{
  margin-top: 10px;
}
.Month{
  border-radius: 10px;
  border: 1px solid black;
  margin: 15px 15px 0px;
  width: 270px;
}
.time, .day{
  margin: 20px 10px 10px;
  text-align: center;
  font-size: 25px;
}

/*---------------------------------------------------------------------------*/
/* Register Page */
.register {
  position: relative;
  text-align: left;
  background: #FFFFFF;
  max-width: 600px;
  margin: 15px auto 0;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.register-page {
  width: auto;
  padding: 1% 1% 0;
}

/*---------------------------------------------------------------------------*/
/* Login Page */
.login-form{
  /*width: 360px;*/
}
.error{
  color: red;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
}
.submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form .submit:hover,.form .submit:active,.form .submit:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.form-group{
  margin-left: 14.3%;
}


/*---------------------------------------------------------------------------*/
/* SHOW MORE PAGE */
.ListPerson {
  margin-right: auto;
  margin-left: auto;
}


/*---------------------------------------------------------------------------*/
/* MONTH PAGE */
.CompleteTag {
  width: 175px;
  border-radius: 15px;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #4d4d4d;
}
.Table{
  display: table;
  width: 100%;
}
.cell {
  text-align: center;
  display: table-cell;
  padding: 3px 5px;
  width: 60%;
}
.inscription{
  width: 60%;
}

.Info{
  width: 25%;
}
.button{
  margin-left: 5%;
  margin-right: auto;
  text-align: center;
  width: 100px;
}
.divTableBody {
  display: table-row-group;
}
.divTableRow {
  display: table-row;
}
.BtnStyle{
  width: 175px;
  border-radius: 15px;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border: none;
  color: white;
}
.BtnStyle:active {
  position:relative;
  top:1px;
}
.InscriptionBtn{
  background-color: #4CAF50;
}
.InscriptionBtn:hover{
  background-color: #59c96d;
}
.ShowMorBtn{
  width: 135px;
  background-color: #2771af;
}
.ShowMorBtn:hover{
  background-color: #3399af; /* Green */
}
.UnsubBtn{
  background-color: #af2200;
}
.UnsubBtn:hover{
  background-color: #c42200; /* Green */
}
.Cancel{
  background-color: #6a6a6a;
  border-radius: 30%;
}


/*---------------------------------------------------------------------------*/
/* PROFILE PAGE */
.Profile{
  width: 30%;
  margin-left:10%
}


/*---------------------------------------------------------------------------*/
/* ADMIN PAGE */
.Adminbtn{
  width: fit-content;
  background-color: #2771af;
}
.Adminbtn:hover{
  background-color: #3399af;
}
.AdminCell{
  border: black 1px solid;
  width: 100%;
}

/*---------------------------------------------------------------------------*/
/* Abonnement PAGE */
.RenewBtn{
  width: 190px;
  background-color: #4CAF50;
}
.RenewBtn:hover{
  background-color: #59c96d;
}
