<mat-card>
<!--  <mat-spinner *ngIf="isLoading"></mat-spinner>-->
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading"><!-- don't forget the "!", thus not isLoading-->
    <mat-form-field>
      <input matInput name="username" ngModel type="text" placeholder="UserName"  required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" ngModel type="password" placeholder="Password"  required password>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
