{% extends 'base.html.twig' %}

{% block body %}
<div class="Center">
    <div class="Table">
        <div class="divTableBody">
            <div class="divTableRow">

                {# Admin Panel Title #}
                <div class="divTableRow" style="text-align: center">
                    <h2> ADMIN PANEL</h2>
                </div>

                {#  Canceling Session #}
                <div class="divTableRow">
                    <div class="cell AdminCell">
                        <a href="{{ path('session_administration') }}" class="BtnStyle Adminbtn"> Cancel Session </a>
                    </div>
                </div>

                {#  Check Subscribtion #}
                <div class="divTableRow">
                    <div class="cell AdminCell">
                        <a href="{{ path('abonnement') }}" class="BtnStyle Adminbtn"> Etats Abonement</a>
                    </div>
                </div>

                {#  Adding Session #}
                <div class="divTableRow">
                    <div class="cell AdminCell">
                        <a href="{{ path('create_session') }}" class="BtnStyle Adminbtn"> Add Session </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
