<h1>Scéance annulé !</h1>

Bonjour {{ info[1] info[0] }}, la session du {{ info[2] }} à {{ info[3] }} est annulé!

Rendez-vous sur <a href="http://www.aquabikegenval.be/month">http://www.aquabikegenval.be/month</a> pour vous inscrire à une nouvelle session .

Merci!
