{% extends 'base.html.twig' %}

{% block title %}Hello CreateSessionController!{% endblock %}

{% block body %}
    <div class="register-page">
        <div class="register">
            {{ form(sessionForm,
                {
                    'attr' :
                    {
                        'class': 'login-form',
                        'method': 'POST'
                    }
                }
            ) }}
        </div>
    </div>
{% endblock %}
