<mat-card>
  <h3>Entrez votre Email</h3>
  <form (submit)="reset(resetpwd)" #resetpwd="ngForm" *ngIf="!isLoading">
    <span *ngIf="Error" class="mat-error"> {{Error}} </span>
    <mat-form-field>
      <input matInput password="" name="pwd" ngModel type="password" placeholder="mot de passe"  required>
    </mat-form-field>
    <mat-form-field>
      <input matInput password name="confpwd" ngModel type="password" placeholder="confirmation"  required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">OK</button>
    <button mat-raised-button color="primary" type="submit">Cancel</button>
  </form>

</mat-card>
